/*-------------------------------------------------------------------------------------------------------------------
   ANIMATIONS.
-------------------------------------------------------------------------------------------------------------------*/

   .dt-animation-pulse { animation: dt-pulse 2s infinite; }
   .dt-transition-all { transition: all 0.5s ease; }

   /*-- Pulse- --*/
   @keyframes dt-pulse {
      0% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75); }
      70% { box-shadow: 0 0 0 15px rgba(255, 255, 255, 0); }
      100% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); }
   }

/*-------------------------------------------------------------------------------------------------------------------
   BOX MODEL.
-------------------------------------------------------------------------------------------------------------------*/

   /* Border. */
   .dt-border-000 { border: 1px solid #000; }
   .dt-border-111 { border: 1px solid #111; }
   .dt-border-222 { border: 1px solid #222; }
   .dt-border-333 { border: 1px solid #333; }
   .dt-border-444 { border: 1px solid #444; }
   .dt-border-555 { border: 1px solid #555; }
   .dt-border-666 { border: 1px solid #666; }
   .dt-border-777 { border: 1px solid #777; }
   .dt-border-888 { border: 1px solid #888; }
   .dt-border-999 { border: 1px solid #999; }
   .dt-border-AAA { border: 1px solid #AAA; }
   .dt-border-BBB { border: 1px solid #BBB; }
   .dt-border-CCC { border: 1px solid #CCC; }
   .dt-border-DDD { border: 1px solid #DDD; }
   .dt-border-EEE { border: 1px solid #EEE; }
   .dt-border-FFF { border: 1px solid #FFF; }
   .dt-border-F9 { border: 1px solid #F9F9F9; }

   /* Border radius. */
   .dt-bradius-50 { border-radius: 50%; }
   .dt-bradius-100 { border-radius: 100%; }
   .dt-bradius-5p { border-radius: 5px; }
   .dt-bradius-10p { border-radius: 10px; }
   .dt-bradius-15p { border-radius: 15px; }
   .dt-bradius-20p { border-radius: 20px; }
   .dt-bradius-25p { border-radius: 25px; }

   /* Margin. */
   .dt-margin-0 { margin: 0; }
   .dt-margin-5p { margin: 5px; }
   .dt-margin-0-auto { margin: 0 auto; }
   .dt-margin-10p-0 { margin: 10px 0; }

   /* Margin bottom. */
   .dt-mbottom-5p { margin-bottom: 5px !important; }
   .dt-mbottom-10p { margin-bottom: 10px !important; }
   .dt-mbottom-15p { margin-bottom: 15px !important; }
   .dt-mbottom-20p { margin-bottom: 20px !important; }
   .dt-mbottom-30p { margin-bottom: 30px !important; }
   .dt-mbottom-45p { margin-bottom: 45px !important; }
   .dt-mbottom-60p { margin-bottom: 60px !important; }
   .dt-mbottom-auto { margin-bottom: auto !important; }

   /* Margin left. */
   .dt-mleft-10 { margin-left: 10%; }
   .dt-mleft-5p { margin-left: 5px !important; }
   .dt-mleft-10p { margin-left: 10px !important; }
   .dt-mleft-15p { margin-left: 15px !important; }
   .dt-mleft-20p { margin-left: 20px !important; }
   .dt-mleft-30p { margin-left: 30px !important; }
   .dt-mleft-45p { margin-left: 45px !important; }
   .dt-mleft-60p { margin-left: 60px !important; }
   .dt-mleft-75p { margin-left: 75px !important; }
   .dt-mleft-90p { margin-left: 90px !important; }
   .dt-mleft-auto { margin-left: auto !important; }

   /* Margin right. */
   .dt-mright-10 { margin-right: 10%; }
   .dt-mright-5p { margin-right: 5px !important; }
   .dt-mright-10p { margin-right: 10px !important; }
   .dt-mright-15p { margin-right: 15px !important; }
   .dt-mright-20p { margin-right: 20px !important; }
   .dt-mright-30p { margin-right: 30px !important; }
   .dt-mright-45p { margin-right: 45px !important; }
   .dt-mright-60p { margin-right: 60px !important; }
   .dt-mright-75p { margin-right: 75px !important; }
   .dt-mright-90p { margin-right: 90px !important; }
   .dt-mright-auto { margin-right: auto !important; }

   /* Margin top. */
   .dt-mtop-5p { margin-top: 5px; }
   .dt-mtop-10p { margin-top: 10px; }
   .dt-mtop-15p { margin-top: 15px; }
   .dt-mtop-20p { margin-top: 20px; }
   .dt-mtop-30p { margin-top: 30px; }
   .dt-mtop-45p { margin-top: 45px; }
   .dt-mtop-60p { margin-top: 60px; }
   .dt-mtop-auto { margin-top: auto !important; }

   /* Padding. */
   .dt-padding-10p { padding: 10px; }
   .dt-padding-15p { padding: 15px; }
   .dt-padding-20p { padding: 20px; }
   .dt-padding-25p { padding: 25px; }
   .dt-padding-30p { padding: 30px; }
   .dt-padding-45p { padding: 45px; }
   .dt-padding-60p { padding: 60px; }
   .dt-padding-75p { padding: 75px; }
   .dt-padding-90p { padding: 90px; }

   /* Padding bottom. */
   .dt-pbottom-0 { padding-bottom: 0; }
   .dt-pbottom-10p { padding-bottom: 10px; }
   .dt-pbottom-20p { padding-bottom: 20px; }
   .dt-pbottom-30p { padding-bottom: 30px; }
   .dt-pbottom-45p { padding-bottom: 45px; }
   .dt-pbottom-60p { padding-bottom: 60px; }
   
   /* Padding left. */
   .dt-pleft-0 { padding-left: 0; }
   .dt-pleft-10p { padding-left: 10px; }
   .dt-pleft-20p { padding-left: 20px; }
   .dt-pleft-30p { padding-left: 30px; }
   .dt-pleft-45p { padding-left: 45px; }
   .dt-pleft-60p { padding-left: 60px; }
   .dt-pleft-75p { padding-left: 75px; }
   .dt-pleft-90p { padding-left: 90px; }
   
   /* Padding right. */
   .dt-pright-0 { padding-right: 0; }
   .dt-pright-10p { padding-right: 10px; }
   .dt-pright-20p { padding-right: 20px; }
   .dt-pright-30p { padding-right: 30px; }
   .dt-pright-45p { padding-right: 45px; }
   .dt-pright-60p { padding-right: 60px; }
   .dt-pright-75p { padding-right: 75px; }
   .dt-pright-90p { padding-right: 90px; }
   
   /* Padding top. */
   .dt-ptop-0 { padding-top: 0; }
   .dt-ptop-10p { padding-top: 10px; }
   .dt-ptop-20p { padding-top: 20px; }
   .dt-ptop-30p { padding-top: 30px; }
   .dt-ptop-45p { padding-top: 45px; }
   .dt-ptop-60p { padding-top: 60px; }

/*-------------------------------------------------------------------------------------------------------------------
   DIMENSIONS.
-------------------------------------------------------------------------------------------------------------------*/

   /* Height. */
   .dt-height-100 { height: 100% !important; }
   .dt-height-1p { height: 1px; }
   .dt-height-100v { height: 100vh !important; }
   .dt-height-auto { height: auto !important; }

   /* Width. */
   .dt-width-10 { width: 10% !important; }
   .dt-width-15 { width: 15% !important; }
   .dt-width-20 { width: 20% !important; }
   .dt-width-25 { width: 25% !important; }
   .dt-width-30 { width: 30% !important; }
   .dt-width-35 { width: 35% !important; }
   .dt-width-40 { width: 40% !important; }
   .dt-width-45 { width: 45% !important; }
   .dt-width-48 { width: 48% !important; }
   .dt-width-50 { width: 50% !important; }
   .dt-width-55 { width: 55% !important; }
   .dt-width-60 { width: 60% !important; }
   .dt-width-65 { width: 65% !important; }
   .dt-width-70 { width: 70% !important; }
   .dt-width-75 { width: 75% !important; }
   .dt-width-80 { width: 80% !important; }
   .dt-width-85 { width: 85% !important; }
   .dt-width-90 { width: 90% !important; }
   .dt-width-95 { width: 95% !important; }
   .dt-width-100 { width: 100% !important; }
   .dt-width-1p { width: 1px; }
   .dt-width-auto { width: auto !important; }

/*-------------------------------------------------------------------------------------------------------------------
   DISPLAYS.
-------------------------------------------------------------------------------------------------------------------*/

   /* Box shadow. */
   .dt-bshadow { box-shadow: 0 4px 8px 0 #0000000D, 0 10px 30px 0 #0000000D;  }

   /* Display. */
   .dt-display-block { display: block; }
   .dt-display-flex { display: flex; }
   .dt-display-iflex { display: inline-flex; }
   .dt-display-inline { display: inline; }
   .dt-display-iblock { display: inline-block; }
   .dt-display-none { display: none !important; }

   /* Opacity. */
   .dt-opacity-0_25 { opacity: 0.25; }
   .dt-opacity-0_50 { opacity: 0.5; }
   .dt-opacity-0_75 { opacity: 0.75; }
   .dt-opacity-1 { opacity: 1; }

   /* Position. */
   .dt-position-absolute { position: absolute; }
   .dt-position-fixed { position: fixed; }
   .dt-position-relative { position: relative; }

   /* Transform. */
   .dt-transform-tx-50 { transform: translateX(50%); }
   .dt-transform-tx-n50 { transform: translateX(-50%); }
   .dt-transform-ty-50 { transform: translateY(50%); }
   .dt-transform-ty-n50 { transform: translateY(-50%); }

   /* Vertical align. */
   .dt-valign-auto { vertical-align: auto; }
   .dt-valign-bottom { vertical-align: bottom; }
   .dt-valign-middle { vertical-align: middle; }
   .dt-valign-top { vertical-align: top; }

   /* Visibility. */
   .dt-visibility-hidden { visibility: hidden !important; }
   .dt-visibility-visible { visibility: visible !important; }

   /* Z-Index. */
   .dt-zindex-9 { z-index: 9; }
   .dt-zindex-99 { z-index: 99; }
   .dt-zindex-999 { z-index: 999; }
   .dt-zindex-9999 { z-index: 9999; }
   .dt-zindex-99999 { z-index: 99999; }
   .dt-zindex-n9 { z-index: -9; }

/*-------------------------------------------------------------------------------------------------------------------
   FLEXBOX.
-------------------------------------------------------------------------------------------------------------------*/

   /* Align content. */
   .dt-acontent-center { align-content: center;  }
   .dt-acontent-fend { align-content: flex-end;  }
   .dt-acontent-fstart { align-content: flex-start;  }
   .dt-acontent-saround { align-content: space-around;  }
   .dt-acontent-sbetween { align-content: space-between;  }
   .dt-acontent-stretch { align-content: stretch;  }

   /* Align items. */
   .dt-aitems-baseline { align-items: baseline; }
   .dt-aitems-center { align-items: center; }
   .dt-aitems-fend { align-items: flex-end; }
   .dt-aitems-fstart { align-items: flex-start; }
   .dt-aitems-stretch { align-items: stretch; }

   /* Align self. */
   .dt-aself-fend { align-self: flex-end; }
   .dt-aself-fstart { align-self: flex-start; }

   /* Flex. */
   .dt-flex-0 { flex: 0; }
   .dt-flex-1 { flex: 1; }
   .dt-flex-2 { flex: 2; }
   .dt-flex-auto { flex: auto; }

   /* Flex basis. */
   .dt-fbasis-0 { flex-basis: 0; }
   .dt-fbasis-1 { flex-basis: 1; }
   .dt-fbasis-auto { flex-basis: auto; }

   /* Flex direction. */
   .dt-fdirection-column { flex-direction: column; }
   .dt-fdirection-creverse { flex-direction: column-reverse; }
   .dt-fdirection-row { flex-direction: row; }
   .dt-fdirection-rreverse { flex-direction: row-reverse; }

   /* Flex grow. */
   .dt-fgrow-0 { flex-grow: 0; }
   .dt-fgrow-1 { flex-grow: 1; }
   .dt-fgrow-2 { flex-grow: 2; }

   /* Flex wrap. */
   .dt-fwrap-nowwrap { flex-wrap: nowrap; }
   .dt-fwrap-wrap { flex-wrap: wrap; }
   .dt-fwrap-wreverse { flex-wrap: wrap-reverse; }

   /* Justify content. */
   .dt-jcontent-center { justify-content: center; }
   .dt-jcontent-fend { justify-content: flex-end; }
   .dt-jcontent-fstart { justify-content: flex-start; }
   .dt-jcontent-saround { justify-content: space-around; }
   .dt-jcontent-sbetween { justify-content: space-between; }

/*-------------------------------------------------------------------------------------------------------------------
   FONTS AND TEXT.
-------------------------------------------------------------------------------------------------------------------*/

   /* Font size. */
   .dt-fsize-0_5 { font-size: 0.5rem !important; }
   .dt-fsize-0_75 { font-size: 0.75rem !important; }
   .dt-fsize-1 { font-size: 1rem !important; }
   .dt-fsize-1_25 { font-size: 1.25rem !important; }
   .dt-fsize-1_5 { font-size: 1.5rem !important; }  
   .dt-fsize-1_75 { font-size: 1.75rem !important; }
   .dt-fsize-2 { font-size: 2rem !important; }
   .dt-fsize-2_25 { font-size: 2.25rem !important; }
   .dt-fsize-2_5 { font-size: 2.5rem !important; }
   .dt-fsize-2_75 { font-size: 2.75rem !important; }
   .dt-fsize-3 { font-size: 3rem !important; }
   .dt-fsize-3_25 { font-size: 3.25rem !important; }
   .dt-fsize-3_5 { font-size: 3.5rem !important; }
   .dt-fsize-3_75 { font-size: 3.75rem !important; }
   .dt-fsize-4 { font-size: 4rem !important; }
   .dt-fsize-4_25 { font-size: 4.25rem !important; }
   .dt-fsize-4_5 { font-size: 4.5rem !important; }
   .dt-fsize-4_75 { font-size: 4.75rem !important; }
   .dt-fsize-5 { font-size: 5rem !important; }
   .dt-fsize-7 { font-size: 7rem !important; }

   /* Font style. */
   .dt-fstyle-italic { font-style: italic; }
   .dt-fstyle-oblique { font-style: oblique; }
   
   /* Font weight. */
   .dt-fweight-400 { font-weight: 400; }
   .dt-fweight-500 { font-weight: 500; }
   .dt-fweight-600 { font-weight: 600; }
   .dt-fweight-700 { font-weight: 700; }
   .dt-fweight-bold { font-weight: bold; }
   .dt-fweight-bold { font-weight: bolder; }
   .dt-fweight-bold { font-weight: normal; }

   /* Line height. */
   .dt-lheight-1 { line-height: 1; }
   .dt-lheight-80 { line-height: 80%; }
   .dt-lheight-90 { line-height: 90%; }

   /* Others. */
   .dt-tdecoration-underline { text-decoration: underline; }
   .dt-ttransform-uppercase { text-transform: uppercase; }
   
   /* Text align. */
   .dt-talign-center { text-align: center !important; }
   .dt-talign-justify { text-align: justify !important; }
   .dt-talign-left { text-align: left !important; }
   .dt-talign-right { text-align: right !important; }
   

/*-------------------------------------------------------------------------------------------------------------------
   OVERALL.
-------------------------------------------------------------------------------------------------------------------*/

   /* Cursor. */
   .dt-cursor-pointer { cursor: pointer; }
   .dt-cursor-progress { cursor: progress; }

   /* Others. */
   .dt-button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1em;
   }

   .dt-container {
      max-width: 1100px;
      width: 100%;
   }

   .dt-innotivamos { background: linear-gradient(to right, rgba(184,9,73,1) 0%, rgba(132,49,103,1) 17%, rgba(8,109,163,1) 33%, rgba(49,155,122,1) 50%, rgba(147,199,112,1) 67%, rgba(231,117,35,1) 83%, rgba(255,201,38,1) 100%); }
   
   .dt-section {
      padding-bottom: 80px;
      padding-top: 80px;
   }

   .dt-title {
      cursor: default;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      z-index: -9999;
   }

   .dt-mobile { display: flex; }
   .dt-desktop { display: none; }

/*-------------------------------------------------------------------------------------------------------------------
   MEDIA QUERIES.
-------------------------------------------------------------------------------------------------------------------*/

   @media screen and (max-width: 768px) {
      .dt-container {
         max-width: 90%;
         width: 90%;
      }
      .dt-mobile { display: none; }
      .dt-desktop { display: flex; }
   }